.my-orders {
  margin: 60px auto;
  width: 80%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.my-orders h1 {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
}

.order-header {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
  color: #555;
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 0;
}

.order-img {
  width: 70px;
  opacity: 0.8;
}

.row span {
  color: #444;
  font-size: 15px;
}

.form-button {
  height: 35px;
  padding: 0 14px;
  border-radius: 10px;
  color: black;
  background-color: #9edcf2;
  border: none;
  cursor: pointer;
}
