.app-shell {
  width: min(100% - 40px, 1760px);
  margin: 0 auto;
  padding: 28px 0 48px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  /* z-index: -1; */
}

@media (max-width: 768px) {
  .app-shell {
    width: min(100% - 24px, 1760px);
    padding-top: 18px;
  }
}
